@model List<User>

@{
    ViewBag.Title = "Admin Page";
    Layout = "_Layout";
}

<h2>Admin Page</h2>

<h3>Edit Inventory</h3>

<h3>User Lookup</h3>
<div class="container">
    <div class="d-flex flex-rowc">
        <div class="p-2">
            <form asp-controller="Home" asp-action="AdminPage">
                <p>
                    Search: <input type="text" name="SearchString"/>
                    <input type="submit" value="Filter"/>
                </p>
            </form>
        </div>
        <span class="p-2">
            <a asp-controller="Account"
               asp-action="Register"
               method="get"
               class="btn btn-success">
                Register New User
            </a>
        </span>
    </div>
</div>
<table>
    <thead>
    <tr>
        <th>UserID</th>
        <th>UserName</th>
        <th>Name</th>
        <th>Email</th>
        <th>IsAdmin</th>
        <th>IsStaff</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>

    @foreach (var user in Model)
    {
        <tr>
            <td>@user.UserId</td>
            <td>@user.UserName</td>
            <td>@user.Name</td>
            <td>@user.Email</td>
            <td>@user.IsAdmin</td>
            <td>@user.IsStaff</td>
            <td>
                <div class="container">
                    <div class="d-flex flex-row">
                        @if (User.IsInRole("Admin"))
                        {
                            <div class="p-2">
                                <a asp-controller="Account"
                                   asp-action="UserInfo"
                                   asp-route-id="@user.UserName"
                                   class="btn btn-success">
                                    User Info
                                </a>
                            </div>
                            <div class="p-2">
                                <a asp-controller="Account"
                                   asp-action="UpdateUser"
                                   asp-route-id="@user.UserName"
                                   class="btn btn-warning">
                                    Update User
                                </a>
                            </div>
                            <div class="p-2">
                                <a asp-controller="Account"
                                   asp-action="UpdateUser"
                                   asp-route-id="@user.UserName"
                                   class="btn btn-danger">
                                    Remove User
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </td>
        </tr>
    }
    @if (Model.Count == 0)
    {
        <tr>
            <td colspan="7">No items found</td>
        </tr>
    }
    </tbody>
</table>