@model OrderHistoryViewModel
@using Microsoft.AspNetCore.Identity
@using INFT3500.Models
<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <div>
        @foreach (var orders in @Model.Orders)
        {
            <h3>OrderNo: @orders.Order.OrderId</h3>
            <table class="table table-bordered">
                <thead class="table-light">
                <tr>
                    <th>PID</th>
                    <th>Name</th>
                    <th>Author</th>
                    <th>Published</th>
                    <th>Price</th>
                    <th>Qty</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var products in orders.Products)
                {
                    <tr>
                        <td>@products.ProductId</td>
                        <td>@products.Name</td>
                        <td>@products.Author</td>
                        <td>@products.Published.ToString()</td>
                        <td>@products.Price</td>
                        <td>@products.Quantity</td>
                    </tr>
                }
                <tr>
                    <td colspan="4" class="text-end fw-bold">Total Price</td>
                    <td colspan="2" class="text-start">$@Math.Round(orders.Products.Sum(x => x.Price * x.Quantity), 2)</td>
                </tbody>
            </table>
        }
    </div>
</div>
</body>
</html>
