@using Microsoft.AspNetCore.Identity
@using INFT3500.Models
@model List<CartViewModel>
<h1>Your Cart</h1>
<table>
    <thead>
    <tr>
        <th>PID</th>
        <th>Name</th>
        <th>Author</th>
        <th>Published</th>
        <th>Quantity</th>
        <th>Remove?</th>
    </tr>
    </thead>
    <tbody>
    @if (Model == null || Model.Count == 0)
    {
        <tr>
            <td colspan="5">No items in cart</td>
        </tr>
    }
    else
    {
        foreach (var cartItem in Model)
        {
            <tr>
                <td>@cartItem.Product.Id</td>
                <td>@cartItem.Product.Name</td>
                <td>@cartItem.Product.Author</td>
                <td>@cartItem.Product.Published.ToString()</td>
                <td>@cartItem.Quantity</td>
                <td class="addToCart">
                    <a asp-controller="Cart"
                       asp-action="RemoveFromCart"
                       asp-route-id="@cartItem.Product.Id"
                       class="btn btn-danger">
                        Remove
                    </a>
                </td>
            </tr>
        }
    }

    @if (Model is {Count: > 0 })
    {
        <a asp-controller="Cart"
           asp-action="Checkout"
           class="btn btn-success">
            Proceed To Checkout
        </a>
    }
    <a asp-controller="Product"
       asp-action="Index"
       class="btn btn-warning">
        Continue Shopping
    </a>
    </tbody>
</table>