@using Microsoft.AspNetCore.Identity
@using INFT3500.Models
@model List<ProductViewModel>

<h1>Products</h1>
<div class="container">
    <div class="d-flex flex-row">
        <div class="p-2">
            <form asp-controller="Product" asp-action="Index">
                <p>
                    Search: <input type="text" name="SearchString"/>
                    <input type="submit" value="Filter"/>
                </p>
            </form>
        </div>
        <span class="p-2">
            <a asp-controller="Product"
               asp-action="AddItem"
               method="get"
               class="btn btn-success">
                Add Item
            </a>
        </span>
    </div>
</div>
<div class="d-flex flex-row gap-2">
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Genres:
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <form method="post">
                    <input name="GamesSelect" type="checkbox" value="Games"/>
                    Games<br/>
                    <input name="BooksSelect" type="checkbox" value="Books"/>
                    Books<br/>
                    <input name="AreChecked" type="checkbox" value="Movies"/>
                    Movies<br/>
                    <button>Filter</button>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Sub genres:
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Collapsible Group Item #3
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
    </div>
    <table class="table table-bordered">
        <thead class="table-light">
        <tr>
            <th>PID</th>
            <th>Name</th>
            <th>Author</th>
            <th>Published</th>
            <th>Genre</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>

        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductId</td>
                <td>@product.Name</td>
                <td>@product.Author</td>
                <td>@product.Published.ToString()</td>
                <td>@product.Genre.Name</td>
                <td>@product.Quantity.ToString()</td>
                <td>@product.Price</td>
                <td>
                    <div class="container">
                        <div class="d-flex flex-row">
                            @if (User.IsInRole("Admin"))
                            {
                                <div class="p-2">
                                    <a asp-controller="Product"
                                       asp-action="EditItem"
                                       asp-route-id="@product.ProductId"
                                       class="btn btn-warning">
                                        Edit Item
                                    </a>
                                </div>

                                <div class="p-2">
                                    <form asp-controller="Product" asp-action="RemoveItem" method="post">
                                        <input type="hidden" name="productId" value="@product.ProductId"/>
                                        <button type="submit" class="btn btn-danger">Remove Item</button>
                                    </form>
                                </div>
                            }
                            <div class="p-2">
                                <a asp-controller="Product"
                                   asp-action="Details"
                                   asp-route-id="@product.ProductId"
                                   class="btn btn-success">
                                    View Details
                                </a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
        @if (Model.Count == 0)
        {
            <tr>
                <td colspan="7">No items found</td>
            </tr>
        }
        </tbody>
    </table>
</div>